/* Add CSS styling here */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
* {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Noto Sans HK";
    
}
ol,ul { list-style: none;
    display: flex;
    width: 90%;
   
}

body {
    background-color: #bae8e8;
    align-items: center;
}
.top {
    background-color:#aacfcf;
   padding: 5%;
}
h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5%;
}

nav {
    display:flex;
    
       }

header nav a {
    border: 2px dotted purple;
    background-color: none;
    width: 10%;
    font-size: 1.2rem;
    margin: .5%;
    text-align: center;
}

header nav a:hover {
    background-color: #272343;
    color: white;
    border: 2px dotted yellow;
}

.section1 {
    display:flex;
    flex-direction: column;
    margin: 10% 0;
    align-items: center; 
    justify-content: center; 
         text-align: center; 
         justify-items: space-evenly;
}

.newyork {
    height:50vh;
    width:50vw;
    float: left; 
    margin: 5%;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

.button {
    background-color: pink;
    color:black;
    padding: 10px;
    font-size: 1rem;
    width: 10rem;
    text-align: center;
    border-radius: 10px;
}

img {
    height:25vh;
    width:25vw;
    margin: 10px; 
}


.top-images {
    display:flex;
     float:left;
     
}


/*.top-words
{     display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    float: left;
    margin: 0 5%;
     padding: 0 5%;
    justify-items: center;
}
*/
.top-images p{
    justify-content: center;
    margin-left: 40%;
       
       }

.bottom-imgs {  
    display: flex;
}

/*.bottom-words {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    float: left;
    margin: 0 10%;
     padding: 0 5%;
    justify-items: center;
    }*/

.bottom-imgs p {
    text-align: center;
}
footer {
    display: flex;
    flex-direction: column;
    background-color: grey;
       width:100%;
        float: left;  
    justify-content: space-between;
    height: 20vh;
    padding: 0 40%;
    margin-top: 10px;
    
}

h3 {
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width:800px){
   body {   
    justify-items: center;
       text-align: center;
   }
    .top {
        display:flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        width:50%;
        height: 60vh;
        margin-right: 50%;
        margin-left: 25%;
        padding-left: 10%;
    }
    .top nav {
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-items: center;
        justify-content: space-between; 
        margin-left: 7%;
    }
    .top nav a {
        padding: 10px;
        width: 90%;
        justify-items: center;
        
    }
    .newyork {
        width: 90%;
        float: none;
        margin-bottom: 5%;
        padding-bottom: 0;
    }
    .section1 {
        display:flex;
        flex-direction: column;
        margin: 0 20% 0;
        padding-top: 0;
    }
    .section1 p{
        font-size: 1rem;
        flex-wrap: wrap;
    }
ol,ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
      width: 40%;
    justify-content: space-around;
    justify-items: center;
    float: none;
    margin-left: 45%;
}
ul li p{
    text-align: center;
    margin-right: 30%;
    margin-left: 25%;
    font-size: 1rem;
    padding-bottom: 10%;
}

}
